<?xml version='1.0' encoding='utf-8'?>
<robot name="assembly_1">
    <link name="0410_new_linkage">
        <inertial>
            <mass value="1.36584e-06" />
            <origin xyz="-0.00151857 0.0167714 0.00210642" rpy="0 -0 0" />
            <inertia ixx="1.57129e-10" ixy="-1.24581e-11" ixz="-1.33233e-14" iyy="1.48312e-11" iyz="1.47145e-13" izz="1.54383e-10" />
        </inertial>
        <visual>
            <origin xyz="0.0625176 -0.0259747 -0.002" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/_0410_new_linkage.stl" scale="1 1 1" />
            </geometry>
            <material name="0.992157_0.976471_0.976471_0.000000_0.000000">
                <color rgba="0.992157 0.976471 0.976471 1" />
            </material>
        </visual>
    </link>
    <link name="0410_new_linkage_1">
        <inertial>
            <mass value="1.36584e-06" />
            <origin xyz="-0.00151857 0.0167714 0.00210642" rpy="0 -0 0" />
            <inertia ixx="1.57129e-10" ixy="-1.24581e-11" ixz="-1.33233e-14" iyy="1.48312e-11" iyz="1.47145e-13" izz="1.54383e-10" />
        </inertial>
        <visual>
            <origin xyz="0.0625176 -0.0259747 -0.002" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/_0410_new_linkage.stl" scale="1 1 1" />
            </geometry>
            <material name="0.992157_0.976471_0.976471_0.000000_0.000000">
                <color rgba="0.992157 0.976471 0.976471 1" />
            </material>
        </visual>
    </link>
    <link name="0410_new_linkage_2">
        <inertial>
            <mass value="1.36584e-06" />
            <origin xyz="-0.00151857 0.0167714 0.00210642" rpy="0 -0 0" />
            <inertia ixx="1.57129e-10" ixy="-1.24581e-11" ixz="-1.33233e-14" iyy="1.48312e-11" iyz="1.47145e-13" izz="1.54383e-10" />
        </inertial>
        <visual>
            <origin xyz="0.0625176 -0.0259747 -0.002" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/_0410_new_linkage.stl" scale="1 1 1" />
            </geometry>
            <material name="0.992157_0.976471_0.976471_0.000000_0.000000">
                <color rgba="0.992157 0.976471 0.976471 1" />
            </material>
        </visual>
    </link>
    <link name="arm_interface">
        <inertial>
            <mass value="0.000205439" />
            <origin xyz="0.00196602 0.00407429 0.0106474" rpy="0 -0 0" />
            <inertia ixx="2.35208e-07" ixy="4.3245e-09" ixz="5.94286e-09" iyy="1.63704e-07" iyz="-6.89039e-09" izz="2.75552e-07" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/arm_interface.stl" scale="1 1 1" />
            </geometry>
            <material name="0.917647_0.917647_0.917647_0.000000_0.000000">
                <color rgba="0.917647 0.917647 0.917647 1" />
            </material>
        </visual>
    </link>
    <link name="cmc_fixture">
        <inertial>
            <mass value="5.8048e-06" />
            <origin xyz="-0.0108283 -0.0103281 -4.27584e-05" rpy="0 -0 0" />
            <inertia ixx="1.1715e-09" ixy="-8.13457e-11" ixz="2.60333e-11" iyy="8.85556e-10" iyz="3.96839e-11" izz="9.54949e-10" />
        </inertial>
        <visual>
            <origin xyz="-4.89859e-19 0.003 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/CMC_fixture.stl" scale="1 1 1" />
            </geometry>
            <material name="0.588235_0.588235_0.588235_0.000000_0.000000">
                <color rgba="0.588235 0.588235 0.588235 1" />
            </material>
        </visual>
    </link>
    <link name="dip_link">
        <inertial>
            <mass value="9.08779e-06" />
            <origin xyz="0.000352975 0.00982889 -0.00850545" rpy="0 -0 0" />
            <inertia ixx="1.61164e-09" ixy="-6.97759e-11" ixz="6.02938e-14" iyy="4.86739e-10" iyz="-1.04406e-12" izz="1.6344e-09" />
        </inertial>
        <visual>
            <origin xyz="1.37822e-09 -0.033 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/DIP_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.090196_0.090196_0.090196_0.000000_0.000000">
                <color rgba="0.0901961 0.0901961 0.0901961 1" />
            </material>
        </visual>
    </link>
    <link name="dip_link_1">
        <inertial>
            <mass value="9.08779e-06" />
            <origin xyz="0.000352975 0.00982889 -0.00850545" rpy="0 -0 0" />
            <inertia ixx="1.61164e-09" ixy="-6.97759e-11" ixz="6.02938e-14" iyy="4.86739e-10" iyz="-1.04406e-12" izz="1.6344e-09" />
        </inertial>
        <visual>
            <origin xyz="1.37822e-09 -0.033 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/DIP_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.090196_0.090196_0.090196_0.000000_0.000000">
                <color rgba="0.0901961 0.0901961 0.0901961 1" />
            </material>
        </visual>
    </link>
    <link name="dip_link_2">
        <inertial>
            <mass value="9.08779e-06" />
            <origin xyz="0.000352975 0.00982889 -0.00850545" rpy="0 -0 0" />
            <inertia ixx="1.61164e-09" ixy="-6.97759e-11" ixz="6.02938e-14" iyy="4.86739e-10" iyz="-1.04406e-12" izz="1.6344e-09" />
        </inertial>
        <visual>
            <origin xyz="1.37822e-09 -0.033 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/DIP_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.090196_0.090196_0.090196_0.000000_0.000000">
                <color rgba="0.0901961 0.0901961 0.0901961 1" />
            </material>
        </visual>
    </link>
    <link name="mcp_abad_link">
        <inertial>
            <mass value="1.6581e-05" />
            <origin xyz="-0.000580099 -0.0203946 0.00847964" rpy="0 -0 0" />
            <inertia ixx="2.9642e-09" ixy="-2.68474e-11" ixz="-9.59489e-11" iyy="2.41184e-09" iyz="-2.38467e-10" izz="1.69975e-09" />
        </inertial>
        <visual>
            <origin xyz="0 1.65327e-19 0.0209" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/MCP_abad_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.588235_0.588235_0.588235_0.000000_0.000000">
                <color rgba="0.588235 0.588235 0.588235 1" />
            </material>
        </visual>
    </link>
    <link name="mcp_abad_link_1">
        <inertial>
            <mass value="1.6581e-05" />
            <origin xyz="-0.000580099 -0.0203946 0.00847964" rpy="0 -0 0" />
            <inertia ixx="2.9642e-09" ixy="-2.68474e-11" ixz="-9.59489e-11" iyy="2.41184e-09" iyz="-2.38467e-10" izz="1.69975e-09" />
        </inertial>
        <visual>
            <origin xyz="0 1.65327e-19 0.0209" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/MCP_abad_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.588235_0.588235_0.588235_0.000000_0.000000">
                <color rgba="0.588235 0.588235 0.588235 1" />
            </material>
        </visual>
    </link>
    <link name="mcp_abad_link_2">
        <inertial>
            <mass value="1.6581e-05" />
            <origin xyz="-0.000580099 -0.0203946 0.00847964" rpy="0 -0 0" />
            <inertia ixx="2.9642e-09" ixy="-2.68474e-11" ixz="-9.59489e-11" iyy="2.41184e-09" iyz="-2.38467e-10" izz="1.69975e-09" />
        </inertial>
        <visual>
            <origin xyz="0 1.65327e-19 0.0209" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/MCP_abad_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.588235_0.588235_0.588235_0.000000_0.000000">
                <color rgba="0.588235 0.588235 0.588235 1" />
            </material>
        </visual>
    </link>
    <link name="mcp_pitch_link">
        <inertial>
            <mass value="1.5452e-05" />
            <origin xyz="-0.0012623 0.0249702 -0.0121418" rpy="0 -0 0" />
            <inertia ixx="2.76883e-09" ixy="7.57601e-11" ixz="-1.92039e-11" iyy="1.25098e-09" iyz="-7.85852e-12" izz="2.56294e-09" />
        </inertial>
        <visual>
            <origin xyz="-0.0408993 0.0662929 0.00659575" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/MCP_pitch_Link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.231373_0.380392_0.705882_0.000000_0.000000">
                <color rgba="0.231373 0.380392 0.705882 1" />
            </material>
        </visual>
    </link>
    <link name="mcp_pitch_link_1">
        <inertial>
            <mass value="1.5452e-05" />
            <origin xyz="-0.0012623 0.0249702 -0.0121418" rpy="0 -0 0" />
            <inertia ixx="2.76883e-09" ixy="7.57601e-11" ixz="-1.92039e-11" iyy="1.25098e-09" iyz="-7.85852e-12" izz="2.56294e-09" />
        </inertial>
        <visual>
            <origin xyz="-0.0408993 0.0662929 0.00659575" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/MCP_pitch_Link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.231373_0.380392_0.705882_0.000000_0.000000">
                <color rgba="0.231373 0.380392 0.705882 1" />
            </material>
        </visual>
    </link>
    <link name="mcp_pitch_link_2">
        <inertial>
            <mass value="1.5452e-05" />
            <origin xyz="-0.0012623 0.0249702 -0.0121418" rpy="0 -0 0" />
            <inertia ixx="2.76883e-09" ixy="7.57601e-11" ixz="-1.92039e-11" iyy="1.25098e-09" iyz="-7.85852e-12" izz="2.56294e-09" />
        </inertial>
        <visual>
            <origin xyz="-0.0408993 0.0662929 0.00659575" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/MCP_pitch_Link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.231373_0.380392_0.705882_0.000000_0.000000">
                <color rgba="0.231373 0.380392 0.705882 1" />
            </material>
        </visual>
    </link>
    <link name="pip_link">
        <inertial>
            <mass value="4.61763e-06" />
            <origin xyz="0.00093219 0.0134757 -0.0110048" rpy="0 -0 0" />
            <inertia ixx="9.97489e-10" ixy="-2.82246e-11" ixz="1.90159e-11" iyy="6.2167e-10" iyz="8.7483e-11" izz="6.15424e-10" />
        </inertial>
        <visual>
            <origin xyz="-6.78288e-17 -3.67761e-15 -0.0075" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/PIP_link.stl" scale="1 1 1" />
            </geometry>
            <material name="1.000000_0.992157_0.992157_0.000000_0.000000">
                <color rgba="1 0.992157 0.992157 1" />
            </material>
        </visual>
    </link>
    <link name="pip_link_1">
        <inertial>
            <mass value="4.61763e-06" />
            <origin xyz="0.00093219 0.0134757 -0.0110048" rpy="0 -0 0" />
            <inertia ixx="9.97489e-10" ixy="-2.82246e-11" ixz="1.90159e-11" iyy="6.2167e-10" iyz="8.7483e-11" izz="6.15424e-10" />
        </inertial>
        <visual>
            <origin xyz="-6.78288e-17 -3.67761e-15 -0.0075" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/PIP_link.stl" scale="1 1 1" />
            </geometry>
            <material name="1.000000_0.992157_0.992157_0.000000_0.000000">
                <color rgba="1 0.992157 0.992157 1" />
            </material>
        </visual>
    </link>
    <link name="pip_link_2">
        <inertial>
            <mass value="4.61763e-06" />
            <origin xyz="0.00093219 0.0134757 -0.0110048" rpy="0 -0 0" />
            <inertia ixx="9.97489e-10" ixy="-2.82246e-11" ixz="1.90159e-11" iyy="6.2167e-10" iyz="8.7483e-11" izz="6.15424e-10" />
        </inertial>
        <visual>
            <origin xyz="-6.78288e-17 -3.67761e-15 -0.0075" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/PIP_link.stl" scale="1 1 1" />
            </geometry>
            <material name="1.000000_0.992157_0.992157_0.000000_0.000000">
                <color rgba="1 0.992157 0.992157 1" />
            </material>
        </visual>
    </link>
    <link name="root" />
    <link name="thumb_dip">
        <inertial>
            <mass value="1.28641e-05" />
            <origin xyz="0.00187576 -0.0211315 -0.0108778" rpy="0 -0 0" />
            <inertia ixx="1.93447e-09" ixy="1.36676e-10" ixz="4.47141e-12" iyy="1.09105e-09" iyz="-5.35524e-11" izz="1.45677e-09" />
        </inertial>
        <visual>
            <origin xyz="0 1.65327e-19 -0.0005" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/Thumb_DIP.stl" scale="1 1 1" />
            </geometry>
            <material name="0.588235_0.588235_0.588235_0.000000_0.000000">
                <color rgba="0.588235 0.588235 0.588235 1" />
            </material>
        </visual>
    </link>
    <link name="xm335_case_m_dummy">
        <inertial>
            <mass value="1.36793e-05" />
            <origin xyz="-0.000121073 0.024222 -0.0120306" rpy="0 -0 0" />
            <inertia ixx="2.45176e-09" ixy="-6.8681e-12" ixz="-4.07005e-12" iyy="1.04901e-09" iyz="-1.77805e-11" izz="2.12381e-09" />
        </inertial>
        <visual>
            <origin xyz="-0.0408993 0.0662929 0.00659575" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/XM335_CASE_M_DUMMY.stl" scale="1 1 1" />
            </geometry>
            <material name="0.231373_0.380392_0.705882_0.000000_0.000000">
                <color rgba="0.231373 0.380392 0.705882 1" />
            </material>
        </visual>
    </link>
    <link name="xm335_case_m_dummy_1">
        <inertial>
            <mass value="2.79582e-05" />
            <origin xyz="0.0130371 -0.0185505 -0.0120644" rpy="0 -0 0" />
            <inertia ixx="4.67639e-09" ixy="2.92054e-09" ixz="-8.2093e-11" iyy="7.69098e-09" iyz="1.37064e-11" izz="1.03599e-08" />
        </inertial>
        <visual>
            <origin xyz="0.00373482 0.00298844 0.012464" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/XM335_CASE_M_DUMMY_1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.231373_0.380392_0.705882_0.000000_0.000000">
                <color rgba="0.231373 0.380392 0.705882 1" />
            </material>
        </visual>
    </link>
    <link name="xm335_dummy">
        <inertial>
            <mass value="1.20851e-05" />
            <origin xyz="-0.00665568 0.0167326 0.00355341" rpy="0 -0 0" />
            <inertia ixx="1.50308e-09" ixy="-1.53897e-11" ixz="-6.33629e-12" iyy="7.81708e-10" iyz="-6.94977e-11" izz="1.38169e-09" />
        </inertial>
        <visual>
            <origin xyz="-0.0065 0.0255 0.00825" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/XM335_DUMMY.stl" scale="1 1 1" />
            </geometry>
            <material name="0.349020_0.376471_0.400000_0.000000_0.000000">
                <color rgba="0.34902 0.376471 0.4 1" />
            </material>
        </visual>
    </link>
    <link name="xm335_dummy_1">
        <inertial>
            <mass value="1.20851e-05" />
            <origin xyz="-0.00665568 0.0167326 0.00355341" rpy="0 -0 0" />
            <inertia ixx="1.50308e-09" ixy="-1.53897e-11" ixz="-6.33629e-12" iyy="7.81708e-10" iyz="-6.94977e-11" izz="1.38169e-09" />
        </inertial>
        <visual>
            <origin xyz="-0.0065 0.0255 0.00825" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/XM335_DUMMY.stl" scale="1 1 1" />
            </geometry>
            <material name="0.349020_0.376471_0.400000_0.000000_0.000000">
                <color rgba="0.34902 0.376471 0.4 1" />
            </material>
        </visual>
    </link>
    <link name="xm335_dummy_2">
        <inertial>
            <mass value="1.20851e-05" />
            <origin xyz="-0.00665568 0.0167326 0.00355341" rpy="0 -0 0" />
            <inertia ixx="1.50308e-09" ixy="-1.53897e-11" ixz="-6.33629e-12" iyy="7.81708e-10" iyz="-6.94977e-11" izz="1.38169e-09" />
        </inertial>
        <visual>
            <origin xyz="-0.0065 0.0255 0.00825" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/XM335_DUMMY.stl" scale="1 1 1" />
            </geometry>
            <material name="0.349020_0.376471_0.400000_0.000000_0.000000">
                <color rgba="0.34902 0.376471 0.4 1" />
            </material>
        </visual>
    </link>
    <link name="xm335_dummy_3">
        <inertial>
            <mass value="1.20851e-05" />
            <origin xyz="-0.00665568 0.0167326 0.00355341" rpy="0 -0 0" />
            <inertia ixx="1.50308e-09" ixy="-1.53897e-11" ixz="-6.33629e-12" iyy="7.81708e-10" iyz="-6.94977e-11" izz="1.38169e-09" />
        </inertial>
        <visual>
            <origin xyz="-0.0065 0.0255 0.00825" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/XM335_DUMMY.stl" scale="1 1 1" />
            </geometry>
            <material name="0.349020_0.376471_0.400000_0.000000_0.000000">
                <color rgba="0.34902 0.376471 0.4 1" />
            </material>
        </visual>
    </link>
    <joint name="fastened_1_0" type="fixed">
        <origin xyz="-0.0352152 0.000723895 0.0217187" rpy="-1.5708 3.4972e-15 -2.87979" />
        <axis xyz="0 -1 0" />
        <parent link="arm_interface" />
        <child link="xm335_dummy_1" />
    </joint>
    <joint name="fastened_2_0" type="fixed">
        <origin xyz="-0.0369541 0.0196834 0.0159687" rpy="3.14159 -0 3.14159" />
        <axis xyz="0 -1 0" />
        <parent link="arm_interface" />
        <child link="xm335_dummy_3" />
    </joint>
    <joint name="fastened_3_0" type="fixed">
        <origin xyz="-0.00635414 0.0246834 0.0159687" rpy="3.14159 -0 3.14159" />
        <axis xyz="0 -1 0" />
        <parent link="arm_interface" />
        <child link="xm335_dummy_2" />
    </joint>
    <joint name="fastened_4_0" type="fixed">
        <origin xyz="0.0242459 0.0196834 0.0159687" rpy="3.14159 -0 3.14159" />
        <axis xyz="0 -1 0" />
        <parent link="arm_interface" />
        <child link="xm335_dummy" />
    </joint>
    <joint name="fixed_node_to_root_joint_0" type="fixed">
        <origin xyz="0.0119296 0.00429764 -0.00662027" rpy="0 -0 0" />
        <axis xyz="6.95574e-28 3.88135e-28 -1" />
        <parent link="root" />
        <child link="arm_interface" />
    </joint>
    <joint name="revolute_1_0" type="revolute">
        <origin xyz="1.83297e-06 0.0330001 -0.0045" rpy="-5.06146e-23 2.69868e-21 -5.91996e-05" />
        <axis xyz="0 0 1" />
        <parent link="pip_link" />
        <child link="dip_link" />
    <limit effort="10" velocity="3.14159" lower="-0.1" upper="1.3963" /></joint>
    <joint name="revolute_1_1" type="revolute">
        <origin xyz="1.83297e-06 0.0330001 -0.0045" rpy="-5.06146e-23 2.69868e-21 -5.91996e-05" />
        <axis xyz="0 0 1" />
        <parent link="pip_link_1" />
        <child link="dip_link_1" />
    <limit effort="10" velocity="3.14159" lower="-0.1" upper="1.3963" /></joint>
    <joint name="revolute_1_2" type="revolute">
        <origin xyz="1.83297e-06 0.0330001 -0.0045" rpy="-5.06146e-23 2.69868e-21 -5.91996e-05" />
        <axis xyz="0 0 1" />
        <parent link="pip_link_2" />
        <child link="dip_link_2" />
    <limit effort="10" velocity="3.14159" lower="-0.1" upper="1.3963" /></joint>
    <joint name="revolute_1_3" type="revolute">
        <origin xyz="-0.0065 0.0255 0.01575" rpy="1.5708 -4.26935e-15 -3.14159" />
        <axis xyz="0 1 0" />
        <parent link="xm335_dummy_1" />
        <child link="cmc_fixture" />
    <limit effort="10" velocity="3.14159" lower="-0.5236" upper="1.5708" /></joint>
    <joint name="revolute_2_0" type="revolute">
        <origin xyz="1.73472e-18 0.0355 -1.38778e-17" rpy="1.70337e-23 -8.73231e-22 5.91996e-05" />
        <axis xyz="6.95574e-28 3.88135e-28 -1" />
        <parent link="mcp_pitch_link" />
        <child link="pip_link" />
    <limit effort="10" velocity="3.14159" lower="-0.1" upper="1.5708" /></joint>
    <joint name="revolute_2_1" type="revolute">
        <origin xyz="6.93889e-18 0.0355 0" rpy="1.70337e-23 -8.73231e-22 5.91996e-05" />
        <axis xyz="6.95574e-28 3.88135e-28 -1" />
        <parent link="mcp_pitch_link_1" />
        <child link="pip_link_1" />
    <limit effort="10" velocity="3.14159" lower="-0.1" upper="1.5708" /></joint>
    <joint name="revolute_2_2" type="revolute">
        <origin xyz="8.67362e-18 0.0355 -1.21431e-17" rpy="1.70337e-23 -8.73231e-22 5.91996e-05" />
        <axis xyz="6.95574e-28 3.88135e-28 -1" />
        <parent link="mcp_pitch_link_2" />
        <child link="pip_link_2" />
    <limit effort="10" velocity="3.14159" lower="-0.1" upper="1.5708" /></joint>
    <joint name="revolute_2_3" type="revolute">
        <origin xyz="-0.0195022 -0.0117032 0.0095" rpy="-1.43875e-15 4.7533e-16 -1.5708" />
        <axis xyz="0 0 1" />
        <parent link="cmc_fixture" />
        <child link="xm335_case_m_dummy_1" />
    <limit effort="10" velocity="3.14159" lower="-1.5708" upper="0.5236" /></joint>
    <joint name="revolute_3_0" type="revolute">
        <origin xyz="-0.0065 0.0255 0.01575" rpy="3.14159 4.0002e-16 -6.93889e-17" />
        <axis xyz="1.22465e-16 0 1" />
        <parent link="xm335_dummy" />
        <child link="mcp_abad_link" />
    <limit effort="10" velocity="3.14159" lower="-0.5236" upper="0.5236" /></joint>
    <joint name="revolute_3_1" type="revolute">
        <origin xyz="-0.0065 0.0255 0.01575" rpy="3.14159 4.0002e-16 -6.93889e-17" />
        <axis xyz="1.22465e-16 0 1" />
        <parent link="xm335_dummy_2" />
        <child link="mcp_abad_link_1" />
    <limit effort="10" velocity="3.14159" lower="-0.5236" upper="0.5236" /></joint>
    <joint name="revolute_3_2" type="revolute">
        <origin xyz="-0.0065 0.0255 0.01575" rpy="3.14159 4.0002e-16 -6.93889e-17" />
        <axis xyz="1.22465e-16 0 1" />
        <parent link="xm335_dummy_3" />
        <child link="mcp_abad_link_2" />
    <limit effort="10" velocity="3.14159" lower="-0.5236" upper="0.5236" /></joint>
    <joint name="revolute_3_3" type="revolute">
        <origin xyz="0.0399963 -0.0190516 -0.017527" rpy="3.14159 -1.04876 1.25744" />
        <axis xyz="0 0 1" />
        <parent link="xm335_case_m_dummy_1" />
        <child link="xm335_case_m_dummy" />
    <limit effort="10" velocity="3.14159" lower="-1.5708" upper="1.5708" /></joint>
    <joint name="revolute_4_0" type="revolute">
        <origin xyz="-0.013 -0.0235 -0.003" rpy="0 1.5708 3.14159" />
        <axis xyz="0 0 -1" />
        <parent link="mcp_abad_link" />
        <child link="mcp_pitch_link" />
    <limit effort="10" velocity="3.14159" lower="-0.1" upper="1.5708" /></joint>
    <joint name="revolute_4_1" type="revolute">
        <origin xyz="-0.013 -0.0235 -0.003" rpy="0 1.5708 3.14159" />
        <axis xyz="0 0 -1" />
        <parent link="mcp_abad_link_1" />
        <child link="mcp_pitch_link_1" />
    <limit effort="10" velocity="3.14159" lower="-0.1" upper="1.5708" /></joint>
    <joint name="revolute_4_2" type="revolute">
        <origin xyz="-0.013 -0.0235 -0.003" rpy="0 1.5708 3.14159" />
        <axis xyz="0 0 -1" />
        <parent link="mcp_abad_link_2" />
        <child link="mcp_pitch_link_2" />
    <limit effort="10" velocity="3.14159" lower="-0.1" upper="1.5708" /></joint>
    <joint name="revolute_4_3" type="revolute">
        <origin xyz="3.46945e-18 0.0355 -2.08167e-17" rpy="-6.22447e-17 1.38778e-16 3.14159" />
        <axis xyz="0 0 -1" />
        <parent link="xm335_case_m_dummy" />
        <child link="thumb_dip" />
    <limit effort="10" velocity="3.14159" lower="-0.1" upper="1.5708" /></joint>
    <joint name="revolute_5_0" type="revolute">
        <origin xyz="-0.005 0.0475 -0.01505" rpy="-5.96761e-17 9.85403e-17 -0.37275" />
        <axis xyz="0 1.4456e-16 1" />
        <parent link="mcp_pitch_link" />
        <child link="0410_new_linkage" />
    <limit effort="10" velocity="3.14159" lower="-0.5" upper="1.5708" /></joint>
    <joint name="revolute_5_1" type="revolute">
        <origin xyz="-0.005 0.0475 -0.01505" rpy="-5.96761e-17 9.85403e-17 -0.37275" />
        <axis xyz="0 1.4456e-16 1" />
        <parent link="mcp_pitch_link_1" />
        <child link="0410_new_linkage_1" />
    <limit effort="10" velocity="3.14159" lower="-0.5" upper="1.5708" /></joint>
    <joint name="revolute_5_2" type="revolute">
        <origin xyz="-0.005 0.0475 -0.01505" rpy="-5.96761e-17 9.85403e-17 -0.37275" />
        <axis xyz="0 1.4456e-16 1" />
        <parent link="mcp_pitch_link_2" />
        <child link="0410_new_linkage_2" />
    <limit effort="10" velocity="3.14159" lower="-0.5" upper="1.5708" /></joint>
</robot>